 <div id="list">
    <mat-form-field>
        <mat-label>Worker</mat-label>
        <mat-select [(value)]="selectedWorker">
          <mat-option *ngFor="let worker of workers" [value]="worker.name">
            {{worker.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <label>
        <input id ="checkbox" type="checkbox" [(ngModel)]="isL4"> L4
      </label>
    </div>


    <div id="dates">

        <mat-form-field>
          <input matInput [matDatepicker]="picker1" placeholder="Choose date when absence start"
           [formControl]="AbsenceStart">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker2" placeholder="Choose date when absence end"
          [formControl]="AbsenceEnd">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

      </div>

      <div id=applyButton>
        <button type="button" class="btn btn-dark" (click)="AddAbsence()">Apply absence</button><br>
        {{statusMessage}}
      </div>
