

#navbar{
  background-color: black;
  width: 200px;
  height: 100vh;
  float:left;
  text-align: center;

}
#maincontent{
  overflow: hidden;
  height: 100vh;
  float:none;
  text-align: center;
  
}
div{
  color: white;
}

