<div>HRApplication<br><br></div>
<button  type="button" class="btn btn-dark"
 *ngIf="absencesActive;else absencesInActive" disabled > Absences</button>
<button  type="button" class="btn btn-dark"
*ngIf="absencesHistoryActive;else absencesHistoryInActive" disabled> Absences History</button>
<button type="button" class="btn btn-dark"
 *ngIf="workersActive;else workersInActive" disabled>Workers</button>


<ng-template #absencesInActive>
  <button (click)="GetAbsences()" type="button" class="btn btn-info"> Absences</button>
</ng-template>

<ng-template #absencesHistoryInActive>
  <button (click)="GetAbsencesHistory()" type="button" class="btn btn-info"> Absences History</button>
</ng-template>

<ng-template #workersInActive>
  <button (click)="GetWorkers()" type="button" class="btn btn-info"> Workers</button>
</ng-template>



